<div class="reasons">
    <div class="wrapper">
        <ul class="reasons__list">
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">1</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Нравственность</p>
                    <p class="reasons__body">Вы не инвестируете в деструктивные проекты, имеете репутацию порядочной компании / персоны.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">2</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Открытость</p>
                    <p class="reasons__body">Вы не против прозрачной и открытой политики взаимодействия с нами. Никаких "черных схем" мы не обсуждаем.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">3</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Обособленность</p>
                    <p class="reasons__body">Вы не претендуете в будущем оказывать влияние на нашу политику развития соц сети.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">4</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Модернизация</p>
                    <p class="reasons__body">Вы согласны с фактором постоянного развития наших услуг в продвижении и рекламе ваших товаров и услуг</p>
                </div>
            </li>
            <ul>
    </div>
</div>
