<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с лидерами</p>
    </div>
</div>

<div class="reasons">
    <div class="wrapper">
        <ul class="reasons__list">
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">1</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Популярность</p>
                    <p class="reasons__body">Ваша деятельность известна и уважаема в России. Вы успешны в миссии становления добра и нравственности</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">2</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Объединение</p>
                    <p class="reasons__body">Вы готовы расмотреть возможность работы с нами, принятия прав администратора, и т.п. (желательный пункт)</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">3</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Помощь в рекламе</p>
                    <p class="reasons__body">Вы можете рассказать большой аудитории о нашей деятельности, для пополнения пользователей социальной сети ради общего блага и счастья.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">4</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Доверие</p>
                    <p class="reasons__body">Вы понимаете серьезность наших намерений, обещаний, деятельности. Не сомневаетесь в будущем курсе правил сайта.</p>
                </div>
            </li>
            <ul>
    </div>
</div>
