<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с модераторами</p>
    </div>
</div>

<div class="reasons">
    <div class="wrapper">
        <ul class="reasons_list">
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">1</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Порядочность</p>
                    <p class="reasons_body">Вы не занимаетесь деструктивной, вредной деятельностью в Вашей жизни</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">2</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Справедливость</p>
                    <p class="reasons_body">Вы можете беспристрастно судить о информации в ключе "хорошо-плохо", согласны пройти тест</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">3</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Свободное время</p>
                    <p class="reasons_body">Разумеется, Вы готовы на частый онлайн в сети, можете быстро выйти на связь с нами.</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">4</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Идейность</p>
                    <p class="reasons_body">Вы готовы помогать нам менять действительность к обществу нравственных, трезвых, честных людей.</p>
                </div>
            </li>
            <ul>
    </div>
</div>
