<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с партнерами</p>
    </div>
</div>

<div class="reasons">
    <div class="wrapper">
        <ul class="reasons__list">
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">1</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Общее дело</p>
                    <p class="reasons__body">Ваша деятельность направлена на становление нравственного общества, вы занимаетесь хорошими делами.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">2</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Обмен рекламой</p>
                    <p class="reasons__body">Мы с удовольствием поможем Вашему проекту продвинуться в интернете, и будем признательны за взаимность.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">3</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Рекомендации</p>
                    <p class="reasons__body">Если Ваш проект новый, нам необходимо подтверждение признанных соратников в том, что ваши намерения - приемлимы для нас.</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">4</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Индивидуальность</p>
                    <p class="reasons__body">Детали сотрудничества будут зависеть от смысла существования вашего проекта, и обговорятся персонально.</p>
                </div>
            </li>
            <ul>
    </div>
</div>
