<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с партнерами</p>
    </div>
</div>

<div class="reasons">
    <div class="wrapper">
        <ul class="reasons__list">
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">1</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Принцип</p>
                    <p class="reasons__body">Принцип Принцип Принцип Принцип Принцип</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">2</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Принцип</p>
                    <p class="reasons__body">Принцип Принцип Принцип Принцип</p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">3</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Принцип </p>
                    <p class="reasons__body">Принцип Принцип Принцип Принцип Принцип </p>
                </div>
            </li>
            <li class="reasons__item mb-m">
                <p class="h1 reasons__number">4</p>
                <div class="reasons__text">
                    <p class="reasons__title h2">Принцип </p>
                    <p class="reasons__body">Принцип Принцип Принцип Принцип Принцип Принцип </p>
                </div>
            </li>
            <ul>
    </div>
</div>
