<div class="mt-xxl mb-l">
    <div class="wrapper">
        <p class="label">Принципы сотрудничества с промоутерами</p>
    </div>
</div>

<div class="reasons">
    <div class="wrapper">
        <ul class="reasons_list">
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">1</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Нравственность</p>
                    <p class="reasons_body">Вы хотите продвигать хорошие проекты и отказываетесь от плохих</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">2</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Идейность</p>
                    <p class="reasons_body">Вам приятно стать дополнительной причиной развития первой хорошей соц сети в мире.</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">3</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Порядочность</p>
                    <p class="reasons_body">Вы не прибегаете к грязным приемам продвижения соц сети. И мы, и Вы про них знаем, и не одобряем.</p>
                </div>
            </li>
            <li class="reasons_item mb-m">
                <p class="h1 reasons_number">4</p>
                <div class="reasons_text">
                    <p class="reasons_title h2">Гибкость</p>
                    <p class="reasons_body">Самые разные схемы обмена благами, как и полагается договариваться проекту со специалистами этой области.</p>
                </div>
            </li>
            <ul>
    </div>
</div>
