{% load staticfiles %}

<div class="peoples m-xs mb_32">
    <div class="wrapper">
        <h3 class="margin_b m-m">Наша команда</h3>
        <ul class="peoples_list" data-component="trackable" data-type="magic_line">
          {% for object in categories %}
            <li class="mb-s">
              <div class="">
                <a href="http://свои.рус/people/{{ object.slug }}" class="h4 link">
                    <sup class="label">{{ forloop.counter }}</sup>
                    <span data-component="trackable" data-type="is_visible">{{ object.name }}</span>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
        <h3 class="margin_b m-m">Наши друзья</h3>
        <ul class="peoples_list" data-component="trackable" data-type="magic_line">
          {% for object in frend_categories %}
            <li class="mb-s">
              <div class="">
                <a href="http://свои.рус/people/{{ object.slug }}" class="h4 link">
                    <sup class="label">{{ forloop.counter }}</sup>
                    <span data-component="trackable" data-type="is_visible">{{ object.name }}</span>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

<div style="position: relative; top: -400px;">
    <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-1">
        <img src="{% static 'images/glitch.jpg' %}" alt="Glitch noise" width="1680" height="2546">
    </div>
</div>

<div class="intro margin_tb">
    <div class="wrapper intro_wrapper" data-component="showtext">
        <h3>Проект свои.рус создан с целью популяризации соц сети трезвый.рус, привлечения командного состава,
          освещения последних новостей строительства нравственного инфо пространства.<br>
          Идея закрытого интернета, защиты взрослых и детей от негативной и деструктивной информации - чрезвычайно
          актуальна в наше время, когда никакой человек не застрахован от вредных последствий пропаганды.
        </h3>
        <div class="m-m">
            <a href="http://свои.рус/about" class="button" data-component="trackable" data-type="button">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
</div>
