{% load staticfiles %}

<div class="home_quicklinks m-xs mb-onlyxl">
    <div class="wrapper">
        <h3 class="baseline">Ваша организация / персона очень нужна нам в статусе:</h3>
        <ul class="home_quicklinks_list m-m" data-component="trackable" data-type="magic_line">
          {% for object in categories %}
            <li class="mb-s">
                <a href="http://свои.рус/people/{{ object.slug }}" class="h4 link">
                    <sup class="label">{{ forloop.counter }}</sup>
                    <span data-component="trackable" data-type="is_visible">{{ object.name|cut:"ы" }}</span>
                </a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

<div style="position: relative; top: -400px;">
    <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-1">
        <img src="{% static 'images/glitch.jpg' %}" alt="Glitch noise" width="1680" height="2546">
    </div>
</div>

<div class="intro m-xxl">
    <div class="wrapper intro_wrapper" data-component="showtext">
        <h3>Проект свои.рус создан с целью популяризации соц сети трезвый.рус, привлечения командного состава,
          освещения последних новостей строительства нравственного инфо пространства
        </h3>
        <div class="m-m">
            <a href="http://свои.рус/about" class="button" data-component="trackable" data-type="button">
                <span>Подробнее</span>
            </a>
        </div>
<!--
        <div class="intro_date" data-component="trackable" data-type="magic_line_image" data-parallax="-0.5">
            <p>надпись</p>
            <img src="{% static 'images/home/1.png' %}" srcset="
              {% static 'images/home/number.png' %} 160w,
              {% static 'images/home/number.png' %} 240w,
              {% static 'images/home/number.png' %} 320w,
              {% static 'images/home/number.png' %} 480w,
              {% static 'images/home/number.png' %} 640w,
              {% static 'images/home/number.png' %} 960w,
              {% static 'images/home/number_big.png' %} 1280w,
              {% static 'images/home/number_big.png' %} 1440w,
              {% static 'images/home/number_big.png' %} 1600w,
              {% static 'images/home/number_big.png' %} 1920w,
              {% static 'images/home/number_big.png' %} 2240w,
              {% static 'images/home/number_big.png' %} 2560w,
              {% static 'images/home/number_big.png' %} 2880w" sizes="(max-width: 640px) 70vw, 640px" alt="" crossorigin="" />
        </div>
-->
    </div>
</div>
