{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Главная страница{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}
<div data-barba="container" data-barba-namespace="home" data-menu-current="">
<div class="cover">
    <div class="cover_image">
        <img src="{{ banner.image.url }}" srcset="
          {{ banner.image|thumbnail_url:'vert_160' }} 160w,
          {{ banner.image|thumbnail_url:'vert_240' }} 240w,
          {{ banner.image|thumbnail_url:'vert_320' }} 320w,
          {{ banner.image|thumbnail_url:'hor_480' }} 480w,
          {{ banner.image|thumbnail_url:'hor_640' }} 640w,
          {{ banner.image|thumbnail_url:'hor_960' }} 960w,
          {{ banner.image|thumbnail_url:'hor_1440' }} 1440w,
          {{ banner.image|thumbnail_url:'hor_1600' }} 1600w,
          {{ banner.image|thumbnail_url:'hor_1920' }} 1920w,
          {{ banner.image|thumbnail_url:'hor_2240' }} 2240w,
          {{ banner.image|thumbnail_url:'hor_2560' }} 2560w,
          {{ banner.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw"
          data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
    </div>
</div>

<div class="site-content home">
    <div class="home_intro m-xxl mb-onlyxl">
        <div class="wrapper">
            <h3 class="abstract text-appear">
                <div class="line" style="max-width: 75rem;"><span>{{ banner.description|linebreaks }}</span></div>
            </h3>
<!--
            <div class="home_event m-m">
                <div class="home_event_line linet"></div>
                <div class="home_event_line liner"></div>
                <div class="home_event_line lineb"></div>
                <div class="home_event_line linel"></div>
                <div class="home_event_line linem"></div>
                <div class="home_event_date text-appear">
                    <div class="line"><span><strong>текст текст</strong>
                            текст
                        </span></div>
                </div>
                <div class="home_event_place text-appear">
                    <div class="line"><span><strong>текст текст</strong>
                            текст
                        </span></div>
                </div>
            </div

            <a href="{% url 'main' %}" class="button" data-sound-hover data-component="trackable">
                <span>
                    Принять участие
                    <svg viewBox="0 0 13 10" class="icon button_big icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
-->
        </div>
    </div>

    {% include 'main/about.html' %}

<!--
    <div class="mb-onlyxl">
        <div class="speakers m-xxs">
            <div class="wrapper">

              {% include "main/users.html" %}

              {% include "main/popup.html" %}

            </div>
        </div>
    </div>
-->
        {% include "main/news.html" %}

<!--
        <div class="cta mt-xxl">
            <div class="wrapper">
                <div class="cta_title" data-component="trackable" data-type="magic_line_image" data-parallax=".07">
                    <img class="cta_title_image" src="{% static 'images/home/title.png' %}" srcset="
                      {% static 'images/home/title_160.png' %} 160w,
                      {% static 'images/home/title_240.png' %} 240w,
                      {% static 'images/home/title_320.png' %} 320w,
                      {% static 'images/home/title_480.png' %} 480w,
                      {% static 'images/home/title_640.png' %} 640w,
                      {% static 'images/home/title_960.png' %} 960w,
                      {% static 'images/home/title_1280.png' %} 1280w,
                      {% static 'images/home/title_1440.png' %} 1440w,
                      {% static 'images/home/title_1600.png' %} 1600w,
                      {% static 'images/home/title_1920.png' %} 1920w,
                      {% static 'images/home/title_2240.png' %} 2240w,
                      {% static 'images/home/title_2560.png' %} 2560w,
                      {% static 'images/home/title_2880.png' %} 2880w" sizes="(max-width: 1100px) 100vw, 1100px" alt="" crossorigin="" />
                </div>

                <div class="m-m">
                    <p class="cta_text lead text-appear" data-component="showtext">
                        <span class="line"><span>Здесь пригласительный текст для желающих,</span></span>
                        <span class="line"><span>с описанием возможных способов взаимодействия</span></span>
                    </p>
                </div>
                <a href="" class="button button_big" data-sound-hover data-component="trackable" data-type="button">
                    <span>
                        Принять участие
                        <svg viewBox="0 0 13 10" class="icon button_big icon-arrow-right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
  </div>
-->

  <div class="footer-glitch-container">
      <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
          <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
      </div>
  </div>
  <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
      <div class="wrapper">
          {% include 'footer.html' %}
      </div>
  </footer>
</div>

{% endblock %}
