<section class="navigation-top" data-navigation-top="" data-hide-cursor="" data-js-module="">

    <div class="title">
        <a href="/" data-module="link-underline" data-js-module="" data-link-routed="true" class="is-out">
            <h6><span data-render="text">Culture</span><br><span class="serif" data-render="text">Manual</span></h6>
        </a>
    </div>

    <ol>
        <li>
            <a href="/our-values" data-module="link-underline" data-js-module="" data-link-routed="true" class="is-out">
                <span class="label p-sm" data-render="text">Our Values</span>
                <p class="sm" data-render="text">The core of our company culture since day one.</p>
                <span class="index p-sm" data-render="text">01</span>
            </a>
        </li>
        <li>
            <a href="/our-way" data-module="link-underline" data-js-module="" data-link-routed="true" class="is-out">
                <span class="label p-sm" data-render="text">Our Way</span>
                <p class="sm" data-render="text">The expectations that fuel our team's success.</p>
                <span class="index p-sm" data-render="text">02</span>
            </a>
        </li>
        <li>
            <a href="/our-offices" data-module="link-underline" data-js-module="" data-link-routed="true" class="is-out">
                <span class="label p-sm" data-render="text">Our Offices</span>
                <p class="sm" data-render="text">The spaces where we come together to create.</p>
                <span class="index p-sm" data-render="text">03</span>
            </a>
        </li>
        <li>
            <a href="/our-people" data-module="link-underline" data-js-module="" data-link-routed="true" class="is-current-page is-out">
                <span class="label p-sm" data-render="text">Our People</span>
                <p class="sm" data-render="text">The diverse group that makes things happen.</p>
                <span class="index p-sm" data-render="text">04</span>
            </a>
        </li>
    </ol>
    <a class="button-circle-outlined" data-button-circle-outlined="" href="/faq" target="" data-js-module="" data-link-routed="true">
        <span>FAQ</span>
        <figure class="circle-progress">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 62" xml:space="preserve">
                <circle class="circle-progress" cx="31" cy="31" r="30" style="transform: rotateZ(-90deg); transform-origin: center center; stroke-dasharray: 188.496px; stroke-dashoffset: 188.496px;"></circle>
                <circle class="circle-bg" cx="31" cy="31" r="30"></circle>
            </svg>
        </figure>
    </a>

</section>
