{% load staticfiles %}

<div class="home__more mb-onlyxl">
    <div class="intro m-xxl">
        <div class="wrapper intro__wrapper" data-component="showtext">
            <h1 class="intro__title mb-xxs text-appear">
                <div class="line"><span>Новости</span></div>
                <div class="line" style="padding-bottom: 10px; margin-bottom: -10px;"><span>текст</span></div>
                <div class="line"><span>текст текст</span></div>
            </h1>

        </div>
    </div>

<div class="wrapper">
    <div class="home__more__list mt-xxl">
        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>
            <a href="" class="more" data-sound-hover>
                Перейти
                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>

            <a href="" class="more" data-sound-hover>
                Перейти
                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>
            <a href="" class="more" data-sound-hover>
              Перейти
                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>
            <a href="" class="more" data-sound-hover>
                Перейти

                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>
            <a href="" class="more" data-sound-hover>
                Перейти
                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc__date label">10.10.10</p>
            </div>
            <h3 class="desc__title">Название</h3>
            <p class="desc__text mb-xxs">Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание Краткое описание</p>
            <a href="" class="more" data-sound-hover>
              Перейти
                <div class="more__icon">
                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
