{% load staticfiles humanize %}

<div class="home_more mb-onlyxl">
    <div class="intro m-xxl">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title mb-xxs text-appear">
                <div class="line"><span>Новости</span></div>
            </h1>
        </div>
    </div>

<div class="wrapper">
    <div class="home_more_list mt-xxl">
      {% for object in news %}
        <div class="desc mb-xl">
            <div class="mb-xxs">
                <p class="desc_date label">{{ object.created|naturaltime }}</p>
            </div>
            <h3 class="desc_title">{{ object.title }}</h3>
            <p class="desc_text mb-xxs">{{ object.description }}</p>
            <a href="{% url 'news_detail' new_slug=object.new_slug %}" class="more">Читать</a>
        </div>
      {% endfor %}
    </div>
</div>
</div>
