{% load staticfiles %}

<div class="popup" data-popup-id="1">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="1">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User1</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="1" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="1">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup-id="2">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="2">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User 2</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="2" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="2">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup-id="3">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="3">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User 3</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="6" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="3">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup-id="4">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="4">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User 4</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="4" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="4">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup-id="5">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="5">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User 5</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="5" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="5">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup-id="6">
    <div class="popup__layer"></div>
    <button class="popup__close" data-sound-hover>
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <div class="popup__panel p-xl">
        <div class="wrapper">
            <div class="popup__content">
                <div class="popup__left">
                    <div class="person mb-xl" data-popup-id="1">
                        <div class="person__container">
                            <div class="person__image">
                                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                                    {% static 'images/home/user1_160.jpg' %} 160w,
                                    {% static 'images/home/user1_240.jpg' %} 240w,
                                    {% static 'images/home/user1_320.jpg' %} 320w,
                                    {% static 'images/home/user1_480.jpg' %} 480w,
                                    {% static 'images/home/user1_640.jpg' %} 640w,
                                    {% static 'images/home/user1_960.jpg' %} 960w,
                                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
                            </div>
                            <div class="person__inner">
                                <div class="person__text mt-xs">
                                    <p class="person__name name">User 6</p>

                                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                                </div>
                                <a class="person__link" href="#" data-open-popup="6" data-sound-hover data-barba-prevent></a>
                            </div>

                        </div>
                    </div>

                    <ul class="popup__social mt-s">
                        <li>
                            <a href="" target="_blank">
                                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin" data-popup-id="6">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup__right wysiwyg">
                    <div class="mb-l">
                        <h4></h4>
                    </div>
                    <p class="label">About user</p>
                    <p>Ну в группе есть фотки и одно видео на скорую руку. Экскурсии по наработкам предполагаю вести на сайте, который сейчас делаю)Пустить же туда напрямую не могу - недостроено.
                        Впрочем, особые хакеры там уже побывали, определив ссылки и даже зарегистрировались))</p>
                </div>
            </div>
        </div>
    </div>
</div>
