{% load staticfiles %}

<div class="speakers__list">

    <div class="person mb-xl">
        <div class="person__container">
            <div class="person__image" data-component="trackable" data-type="image_wave" data-parallax="-0.3">
                <img src="{% static 'images/home/user1.jpg' %}" srcset="
                    {% static 'images/home/user1_160.jpg' %} 160w,
                    {% static 'images/home/user1_240.jpg' %} 240w,
                    {% static 'images/home/user1_320.jpg' %} 320w,
                    {% static 'images/home/user1_480.jpg' %} 480w,
                    {% static 'images/home/user1_640.jpg' %} 640w,
                    {% static 'images/home/user1_960.jpg' %} 960w,
                    {% static 'images/home/user1_1280.jpg' %} 1280w,
                    {% static 'images/home/user1_1280.jpg' %} 1440w,
                    {% static 'images/home/user1_1280.jpg' %} 1600w,
                    {% static 'images/home/user1_1280.jpg' %} 1920w,
                    {% static 'images/home/user1_1280.jpg' %} 2240w,
                    {% static 'images/home/user1_1280.jpg' %} 2560w,
                    {% static 'images/home/user1_1280.jpg' %} 2880w" alt="" crossorigin="" sizes="(max-width: 1024px) 55vw, 500px" />
            </div>

            <div class="person__inner" data-component="parallax" data-parallax="-0.3">
                <div class="person__text mt-xs">
                    <p class="person__name name">User 1</p>

                    <p class="person__role mt-xxs">Minister<br>Pyther Penn</p>
                </div>

                <a class="person__lin" href="#" data-open-popup="1" data-sound-hover data-barba-prevent></a>
            </div>

        </div>
    </div>
</div>
