{% load socialaccount %}

<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a href="{% provider_login_url 'vk' method='oauth2' %}">Войти через VK</a>
                        </div>

                        <div class="form loginBox">

                            <form action="{% url 'rest_login' %}" class="contact-form padding-md padding-md-topbottom-null" id="logg">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="text small padding-topbottom-null" style="">
                                        <input
                                            type="text"
                                            name="username"
                                            id="username1"
                                            class="form-field"
                                            placeholder="Логин"
                                            style="border-bottom: 1px solid rgba(117, 117, 117, 0.41);">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text small padding-topbottom-null" style="">
                                        <input
                                            type="password"
                                            name="password"
                                            id="password"
                                            class="form-field"
                                            placeholder="Пароль"
                                            style="border-bottom: 1px solid rgba(117, 117, 117, 0.41);">
                                    </div>
                                </div>
                                <div class="text small padding-topbottom-null" style="text-align:center">
                                    <div class="submit-area padding-onlytop-sm">
                                        <button id="login_submit" type="submit" class="btn-alt active shadow login-btn">Войти</button>
                                    </div>
                                </div>
                                <div id="api-response-login"></div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">

                        <form action="{% url 'rest_register' %}" id="signup" class="contact-form padding-md padding-md-topbottom-null ajax-form2">
                            {% csrf_token %}
                            <div class="row">
                                <div class="text small padding-topbottom-null" style="margin-top: -10px;">
                                    <input
                                        type="text"
                                        name="username"
                                        id="username"
                                        class="form-field"
                                        placeholder="Логин"
                                        style="border-bottom: 1px solid rgba(117, 117, 117, 0.41);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="text small padding-topbottom-null" style="margin-top: -10px;">
                                    <input
                                        type="password"
                                        name="password1"
                                        id="password1"
                                        class="form-field"
                                        placeholder="Придумайте пароль"
                                        style="border-bottom: 1px solid rgba(117, 117, 117, 0.41);">
                                </div>
                                <div class="text small padding-topbottom-null" style="margin-top: -10px;">
                                    <input
                                        type="password"
                                        name="password2"
                                        id="password2"
                                        class="form-field"
                                        placeholder="Повторите пароль"
                                        style="border-bottom: 1px solid rgba(117, 117, 117, 0.41);">
                                </div>
                            </div>
                            <div class="submit-area padding-onlytop-sm" style="text-align:center">
                                <button id="reg_submit" type="submit" class="btn-alt active shadow login-btn">Регистрация</button>
                            </div>
                    </form>
                    <div id="api-response-reg"></div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="forgot login-footer">
                <span>
                    <span>Нет аккаунта?</span>
                    <a href="javascript: showRegisterForm();">Создать аккаунт</a>
                </span>
            </div>
            <div class="forgot register-footer" style="display:none">
                <span>Есть аккаунт?</span>
                <a href="javascript: showLoginForm();">Войти</a>
            </div>
        </div>
    </div>
</div>
</div>
