{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}О проекте{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="venue" data-menu-current="menu-item-63">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ banner.image|thumbnail_url:'vert_160' }} 160w,
            {{ banner.image|thumbnail_url:'vert_240' }} 240w,
            {{ banner.image|thumbnail_url:'vert_320' }} 320w,
            {{ banner.image|thumbnail_url:'hor_480' }} 480w,
            {{ banner.image|thumbnail_url:'hor_640' }} 640w,
            {{ banner.image|thumbnail_url:'hor_960' }} 960w,
            {{ banner.image|thumbnail_url:'hor_1440' }} 1440w,
            {{ banner.image|thumbnail_url:'hor_1600' }} 1600w,
            {{ banner.image|thumbnail_url:'hor_1920' }} 1920w,
            {{ banner.image|thumbnail_url:'hor_2240' }} 2240w,
            {{ banner.image|thumbnail_url:'hor_2560' }} 2560w,
            {{ banner.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro margin_tb">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title margin_b text-appear">О проекте</h1>
            <div class="intro_text about_w">
                <p>{{ banner.description|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="margin_tb mb_32"></div>

    <div class="wrapper">
        <div class="venue_transports margin_tb">
            <div class="venue_transport margin_b3">
                <p class="h3">Замысел</p>
                <div class="about_w margin_t">
                  Больше полутора лет назад несчастья будущего разработчика соц сети закончились: на просторах ютуба он повстречался с профессионалом
                  избавления от вредных привычек Фахреевым Владимиром. Харизма и уровень подготовки последнего так сработали, что хватило просмотра плейлиста "Спецкурс",
                  чтобы раз и навсегда стать трезвым человеком. <br>
                  Каждый нормальный веб-мастер хочет создать что-то большое и светлое, однако это не так просто:
                  нужен хороший замысел, а также серьезные связи для продвижения ресурса. И начал я думать: а что, если создать социальную сеть для счастливых людей?
                  Такой сайт получит поддержку больших проектов с хорошими делами, я получу возможность заняться большим и ответственным проектом, пользователи
                  смогут ощутить информационное воздействие "наоборот" - когда нахождение в соц сети не превращает тебя из человека в зомби, а
                  способствует личностному и духовному росту.
                </div>
            </div>
            <div class="venue_transport margin_b3">
                <p class="h3">Поддержка</p>
                <div class="about_w margin_t">
                    Конечно, первым делом я обратился к Владимиру Фахрееву. Его роль определилась в заслуженное словосочетание - "Лидер - первооткрыватель",
                    идейное и духовное начало будущей социальной сети для счастливых людей. Ни у кого не возникнет и намека на мысль, что такой человек не справится
                    с такой ответсвенной ролью. <br>
                    Следующий проект также сыграл в моей жизни большую роль. Научил вырабатывать защитный рефлекс при встрече с любой информацией в ключе "а чему это меня учит?"
                    Речь идет о проекте "Научи Хорошему". Если ознакомиться с деятельностью этой команды, можно восхититься, насколько они "к месту" в наше время
                    информационной агрессии. В становлении соц сети проект также сильно участвует: делится новостями строительства в своей большой группе, поддерживает.
                    <br>
                    Плюс к этому я "поднял связи" с моими друзьями с канала "Движение", которые в борьбе с социальной несправедливостью ничего не боятся, имеют огромную
                    аудиторию, и, в общем, также занимаются правильными делами.
                </div>
            </div>

            <div class="venue_transport margin_b3">
                <p class="h3">трезвый.рус</p>
                <div class="about_w margin_t">
                  Проект трезвый.рус за несколько месяцев планирования и строительства усложнялся несколько раз, пока в итоге не отшлифовался в социальную сеть высокого уровня.
                  Технические решения будущей деятельности получились такие: <br><br>
                  1. Структура и расположение отделов и модулей будет похожа на сеть "Вконтакте", лучше для нашего менталитета не придумаешь, и незачем. <br><br>
                  2. Приватность получила приоритет по умственным затратам. Закрытые профили, приватные сообщества - нигде "мышь не проскочит". <br><br>
                  3. Многообразие отделов определилась тактической необходимостью - в наше время сложных и разносторонних соц сетей иначе нельзя. <br><br>
                  4. Найдены способы добавить мультимедиа с привычными инструментами взаимодействия с ним.  <br><br>
                  5. Сложные технические инструменты (репосты, вложение сущностей в посты и комменты, сообщения, обновление в реальном времени) также нарабатываются сразу. <br><br>
                  6. Определены статьи, как место абсолютного творчества с множеством вариантов работы с ними. <br><br>
                  7. Прописаны надежные и продуманные разделения по правам доступа на уровне сообществ, профиля и сообществ. Так, глобальный администратор может
                  дать права доступа только на отдел музыки, и только на удаление треков, с возможностью нанимать помощников. <br><br>
                  <br>
                  З.Ы. Конечно, уровень разработки потребовал существенно большего времени.

                  Принципы выделяются следующие:<br><br>
                  1. Вся работа, изменения и нюансы соц сети служат делу трезвости и нравственности.<br><br>
                  2. Вся разработка и генеральные пути развития определяются одним человеком для гарантии неизменности убеждений и
                  точности работы оборудования.<br><br>
                  3. Контекстаная реклама банков, казино, инфоциган, наркотиков - не будет допускаться.
                </div>
            </div>
            <div class="venue_transport margin_b3">
                <p class="h3">свои.рус</p>
                <div class="about_w margin_t">
                  Далеко не все проекты и организации пошли на встречу в организации казалось бы общего дела. Однако те, кто пошли, натолкнули на мысли:
                  1. Нужен некий отдельный веб-ресурс, желательно качеством максимально крутым ("встречают по одежке"). Там нужно будет освещать ход становления соц сети,
                  набирать команду для различных функций. Вообще, знакомить людей с идеями лучше на одном сайте, а не в каком-нибудь Вконтакте или подобии, где
                  права сомнительны и та же группа может существовать без гарантий в завтрашнем дне. Рекламировать, продвигать также удобнее один сайт.
                  2. Нужно разработать категории людей в команде будущей сети и организаций / персон, приобщенных к идее. Таким образом можно продемонстрировать
                  количество и качество "своих" людей и течений.
                  3. Необходимо сформулировать общие принципы взаимодействия с той или иной категорией команды соц сети. Чего мы будем ожидать от нее, что сможем предоствить взамен
                  оказанной помощи. Такие положения, перерастающие в документы и договоры, следует предоставить для ознакомления любому желающему, а также использовать для
                  возможных перепетий или сомнительных моментах в сотрудничестве для дальнейшего урегулирования.
                  4. Любые договорные нюансы следует держать в прозрачном состоянии. Это обезопасит репутацию руководства социальной сети от возможных посягательст на то в будущем.
                  
                </div>
            </div>
        </div>
    </div>

    <div class="margin_tb mb_32"></div>

    <div class="footer-glitch-container">
      <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
        <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
      </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar margin_b3" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Conferences</span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Ideation camp</span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
