{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}О проекте{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="venue" data-menu-current="menu-item-63">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ banner.image|thumbnail_url:'vert_160' }} 160w,
            {{ banner.image|thumbnail_url:'vert_240' }} 240w,
            {{ banner.image|thumbnail_url:'vert_320' }} 320w,
            {{ banner.image|thumbnail_url:'hor_480' }} 480w,
            {{ banner.image|thumbnail_url:'hor_640' }} 640w,
            {{ banner.image|thumbnail_url:'hor_960' }} 960w,
            {{ banner.image|thumbnail_url:'hor_1440' }} 1440w,
            {{ banner.image|thumbnail_url:'hor_1600' }} 1600w,
            {{ banner.image|thumbnail_url:'hor_1920' }} 1920w,
            {{ banner.image|thumbnail_url:'hor_2240' }} 2240w,
            {{ banner.image|thumbnail_url:'hor_2560' }} 2560w,
            {{ banner.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro m-xxl">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <div class="line" style="max-width: 75rem;"><span>{{ banner.description|linebreaks }}</span></div>
        </div>
    </div>

    <div class="m-xxl mb-onlyxl"></div>

    <div class="wrapper content content_reverse content_small">
        <div class="content_container">
            <p class="h3">Location</p>
            <div class="m-xs"></div>

            <div class="content_image">
                <img data-component="trackable" data-type="image" src="{% static 'images/peoples/navbar.jpg' %}"
                  srcset="
                  {% static 'images/peoples/navbar_160.jpg' %} 160w,
                  {% static 'images/peoples/navbar_240.jpg' %} 240w,
                  {% static 'images/peoples/navbar_320.jpg' %} 320w,
                  {% static 'images/peoples/navbar_480.jpg' %} 480w,
                  {% static 'images/peoples/navbar_640.jpg' %} 640w,
                  {% static 'images/peoples/navbar_960.jpg' %} 960w,
                  {% static 'images/peoples/navbar_1280.jpg' %} 1280w,
                  {% static 'images/peoples/navbar_1440.jpg' %} 1440w,
                  {% static 'images/peoples/navbar_1600.jpg' %} 1600w,
                  {% static 'images/peoples/navbar_1920.jpg' %} 1920w,
                  {% static 'images/peoples/navbar_2240.jpg' %} 2240w,
                  {% static 'images/peoples/navbar_2560.jpg' %} 2560w,
                  {% static 'images/peoples/navbar_2880.jpg' %} 2880w"
                  sizes="(max-width: 768px) 150vw, 100vw" sizes="(max-width: 768px) 100vw, 500px" alt="" crossorigin="" />
            </div>

            <div class="content_text m-xs">
                <p class="lead">Terminal passenger <br />
                    Liège Airport<br />
                    Rue de l'aéroport<br />
                    4460 Grâce-Hollogne<br />
                    Belgium<br />
                    <br />
                    <span>50° 38' 25.9296'' N<br />
                        5° 26' 42.0792'' E</span></p>
            </div>
            <a href="" class="button content_reverse content_small" data-component="trackable" data-type="button">
                <span>
                    Google maps
                </span>
            </a>
        </div>
    </div>
    <div class="m-xxl mb-onlyxl"></div>

    <div class="wrapper content">
        <div class="content_container">
            <p class="h3">Hotel at the airport</p>
            <div class="m-xs"></div>
            <div class="content_image">
                <img data-component="trackable" data-type="image" src="{% static 'images/peoples/navbar.jpg' %}"
                  srcset="
                  {% static 'images/peoples/navbar_160.jpg' %} 160w,
                  {% static 'images/peoples/navbar_240.jpg' %} 240w,
                  {% static 'images/peoples/navbar_320.jpg' %} 320w,
                  {% static 'images/peoples/navbar_480.jpg' %} 480w,
                  {% static 'images/peoples/navbar_640.jpg' %} 640w,
                  {% static 'images/peoples/navbar_960.jpg' %} 960w,
                  {% static 'images/peoples/navbar_1280.jpg' %} 1280w,
                  {% static 'images/peoples/navbar_1440.jpg' %} 1440w,
                  {% static 'images/peoples/navbar_1600.jpg' %} 1600w,
                  {% static 'images/peoples/navbar_1920.jpg' %} 1920w,
                  {% static 'images/peoples/navbar_2240.jpg' %} 2240w,
                  {% static 'images/peoples/navbar_2560.jpg' %} 2560w,
                  {% static 'images/peoples/navbar_2880.jpg' %} 2880w"
                  sizes="(max-width: 768px) 150vw, 100vw" sizes="(max-width: 768px) 100vw, 500px" alt="" crossorigin="" />
            </div>
            <div class="content_text m-xs">
                <p class="lead">Take advantage of our special Wecargo offer at the Hotel Park Inn, located next to the event venue. </p>
            </div>
            <a href="" class="button" data-component="trackable" data-type="button">

                <span>Book a room</span>
            </a>
        </div>
    </div>
    <div class="m-xxl mb-onlyxl"></div>

    <div class="wrapper">
        <div class="venue_transports m-xxl">
            <div class="venue_transport mb-xl">
                <p class="h3">Car</p>
                <div class="wysiwyg m-xs">Reaching Liege Airport is very easy by car as there is very large parking lot in front of the venue. The Liege Airport's passenger terminal is located next to the highway with very fast access. Use exit 3 "Liege Airport" on the E42 highway.</div>
                <ul>
                    <li class="mb-xxs">
                        <a href="" class="more">
                            Calculate my route
                        </a>
                    </li>
                </ul>
            </div>
            <div class="venue_transport mb-xl">
                <p class="h3">Train & Bus</p>
                <div class="wysiwyg m-xs">There are High-Speed Trains from Paris, Brussels, Cologne and Amsterdam many times per day. There is a direct connexion between the station in the airport by bus (line #53 & #57). Regional and intercity trains are also available from most Belgian cities.
                    A dedicated shuttle will be available during WeCargo on 13th & 14th of November. More information coming soon.</div>
                <ul>
                    <li class="mb-xxs">
                        <a href="" class="more">
                            Get the schedule
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="m-xxl mb-onlyxl"></div>

    <div class="footer-glitch-container">
      <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
        <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
      </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar mb-xl" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Conferences</span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Ideation camp</span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
