{% load staticfiles %}

<html class="mediaqueries webkit css-loaded">
<head>
    <title>Команда трезвый.рус</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'styles/style.css' %}"  />

</head>

<body class="sk-enabled sk-init sk-active page-loaded page-our-people sk-obj-xl">
    <div hidden="" id="sprite-plyr">
        <!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol id="plyr-airplay">
                <path d="M16 1H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3v-2H3V3h12v8h-2v2h3a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                <path d="M4 17h10l-5-6z"></path>
            </symbol>
            <symbol id="plyr-captions-off">
                <path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd" fill-opacity=".5"></path>
            </symbol>
            <symbol id="plyr-captions-on">
                <path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd"></path>
            </symbol>
            <symbol id="plyr-download">
                <path d="M9 13c.3 0 .5-.1.7-.3L15.4 7 14 5.6l-4 4V1H8v8.6l-4-4L2.6 7l5.7 5.7c.2.2.4.3.7.3zm-7 2h14v2H2z"></path>
            </symbol>
            <symbol id="plyr-enter-fullscreen">
                <path d="M10 3h3.6l-4 4L11 8.4l4-4V8h2V1h-7zM7 9.6l-4 4V10H1v7h7v-2H4.4l4-4z"></path>
            </symbol>
            <symbol id="plyr-exit-fullscreen">
                <path d="M1 12h3.6l-4 4L2 17.4l4-4V17h2v-7H1zM16 .6l-4 4V1h-2v7h7V6h-3.6l4-4z"></path>
            </symbol>
            <symbol id="plyr-fast-forward">
                <path d="M7.875 7.171L0 1v16l7.875-6.171V17L18 9 7.875 1z"></path>
            </symbol>
            <symbol id="plyr-logo-vimeo">
                <path d="M17 5.3c-.1 1.6-1.2 3.7-3.3 6.4-2.2 2.8-4 4.2-5.5 4.2-.9 0-1.7-.9-2.4-2.6C5 10.9 4.4 6 3 6c-.1 0-.5.3-1.2.8l-.8-1c.8-.7 3.5-3.4 4.7-3.5 1.2-.1 2 .7 2.3 2.5.3 2 .8 6.1 1.8 6.1.9 0 2.5-3.4 2.6-4 .1-.9-.3-1.9-2.3-1.1.8-2.6 2.3-3.8 4.5-3.8 1.7.1 2.5 1.2 2.4 3.3z"></path>
            </symbol>
            <symbol id="plyr-logo-youtube">
                <path d="M16.8 5.8c-.2-1.3-.8-2.2-2.2-2.4C12.4 3 9 3 9 3s-3.4 0-5.6.4C2 3.6 1.3 4.5 1.2 5.8 1 7.1 1 9 1 9s0 1.9.2 3.2c.2 1.3.8 2.2 2.2 2.4C5.6 15 9 15 9 15s3.4 0 5.6-.4c1.4-.3 2-1.1 2.2-2.4.2-1.3.2-3.2.2-3.2s0-1.9-.2-3.2zM7 12V6l5 3-5 3z"></path>
            </symbol>
            <symbol id="plyr-muted">
                <path d="M12.4 12.5l2.1-2.1 2.1 2.1 1.4-1.4L15.9 9 18 6.9l-1.4-1.4-2.1 2.1-2.1-2.1L11 6.9 13.1 9 11 11.1zM3.786 6.008H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path>
            </symbol>
            <symbol id="plyr-pause">
                <path d="M6 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1zm6 0c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1h-3z"></path>
            </symbol>
            <symbol id="plyr-pip">
                <path d="M13.293 3.293L7.022 9.564l1.414 1.414 6.271-6.271L17 7V1h-6z"></path>
                <path d="M13 15H3V5h5V3H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-6h-2v5z"></path>
            </symbol>
            <symbol id="plyr-play">
                <path d="M15.562 8.1L3.87.225c-.818-.562-1.87 0-1.87.9v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z"></path>
            </symbol>
            <symbol id="plyr-restart">
                <path d="M9.7 1.2l.7 6.4 2.1-2.1c1.9 1.9 1.9 5.1 0 7-.9 1-2.2 1.5-3.5 1.5-1.3 0-2.6-.5-3.5-1.5-1.9-1.9-1.9-5.1 0-7 .6-.6 1.4-1.1 2.3-1.3l-.6-1.9C6 2.6 4.9 3.2 4 4.1 1.3 6.8 1.3 11.2 4 14c1.3 1.3 3.1 2 4.9 2 1.9 0 3.6-.7 4.9-2 2.7-2.7 2.7-7.1 0-9.9L16 1.9l-6.3-.7z"></path>
            </symbol>
            <symbol id="plyr-rewind">
                <path d="M10.125 1L0 9l10.125 8v-6.171L18 17V1l-7.875 6.171z"></path>
            </symbol>
            <symbol id="plyr-settings">
                <path d="M16.135 7.784a2 2 0 0 1-1.23-2.969c.322-.536.225-.998-.094-1.316l-.31-.31c-.318-.318-.78-.415-1.316-.094a2 2 0 0 1-2.969-1.23C10.065 1.258 9.669 1 9.219 1h-.438c-.45 0-.845.258-.997.865a2 2 0 0 1-2.969 1.23c-.536-.322-.999-.225-1.317.093l-.31.31c-.318.318-.415.781-.093 1.317a2 2 0 0 1-1.23 2.969C1.26 7.935 1 8.33 1 8.781v.438c0 .45.258.845.865.997a2 2 0 0 1 1.23 2.969c-.322.536-.225.998.094 1.316l.31.31c.319.319.782.415 1.316.094a2 2 0 0 1 2.969 1.23c.151.607.547.865.997.865h.438c.45 0 .845-.258.997-.865a2 2 0 0 1 2.969-1.23c.535.321.997.225 1.316-.094l.31-.31c.318-.318.415-.781.094-1.316a2 2 0 0 1 1.23-2.969c.607-.151.865-.547.865-.997v-.438c0-.451-.26-.846-.865-.997zM9 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
            </symbol>
            <symbol id="plyr-volume">
                <path d="M15.6 3.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4C15.4 5.9 16 7.4 16 9c0 1.6-.6 3.1-1.8 4.3-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3C17.1 13.2 18 11.2 18 9s-.9-4.2-2.4-5.7z"></path>
                <path d="M11.282 5.282a.909.909 0 0 0 0 1.316c.735.735.995 1.458.995 2.402 0 .936-.425 1.917-.995 2.487a.909.909 0 0 0 0 1.316c.145.145.636.262 1.018.156a.725.725 0 0 0 .298-.156C13.773 11.733 14.13 10.16 14.13 9c0-.17-.002-.34-.011-.51-.053-.992-.319-2.005-1.522-3.208a.909.909 0 0 0-1.316 0zm-7.496.726H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path>
            </symbol>
        </svg></div>

    {% include 'main/navigation_left.html' %}

		{% include 'main/navigation_top.html' %}


    <main id="main">

		</main>
		<div data-page-height></div>

		<!-- global elements external from pages -->
		<section class="detail-layer" data-detail-layer>

	<a href="/our-people/" class="cursor-close" data-cursor-hover data-cursor-type="exit"></a>

	<div class="mobile-header">
		<a href="/our-people/" class="button-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
<path d="M0.1,18.485L18.485,0.1,19.9,1.514,1.515,19.9Zm0-16.971L1.515,0.1,19.9,18.485,18.485,19.9Z"/>
</svg>
</a>
		<div class="header">
			<a href="javascript:;" class="button-previous"><span class="label">Lorem Ipsum</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17.3">
<path d="M0,9.7v-2h27v2H0z M18,1.4L19.4,0L28,8.7L26.6,10L18,1.4z M19.4,17.3L18,15.9l8.6-8.6L28,8.7L19.4,17.3z"/>
</svg>
</a>
			<div class="index-progress"><span class="index">01</span> — <span class="total">10</span></div>
			<a href="javascript:;" class="button-next"><span class="label">Lorem Ipsum</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17.3">
<path d="M0,9.7v-2h27v2H0z M18,1.4L19.4,0L28,8.7L26.6,10L18,1.4z M19.4,17.3L18,15.9l8.6-8.6L28,8.7L19.4,17.3z"/>
</svg>
</a>
		</div>
	</div>

	<div class="wrapper">

		<a href="/our-people/" class="button-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
<path d="M0.1,18.485L18.485,0.1,19.9,1.514,1.515,19.9Zm0-16.971L1.515,0.1,19.9,18.485,18.485,19.9Z"/>
</svg>
</a>

		<div class="media">
			<!-- <figure class="bg-abs bg-cover bg-center bg-no-repeat"></figure> -->
		</div>

		<div class="content">
			<div class="header">
				<div class="index-progress"><span class="index">01</span> — <span class="total">10</span></div>
				<a href="javascript:;" class="button-next"><span class="label">Lorem Ipsum</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17.3">
<path d="M0,9.7v-2h27v2H0z M18,1.4L19.4,0L28,8.7L26.6,10L18,1.4z M19.4,17.3L18,15.9l8.6-8.6L28,8.7L19.4,17.3z"/>
</svg>
</a>
				<a href="javascript:;" class="button-previous"><span class="label">Lorem Ipsum</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17.3">
<path d="M0,9.7v-2h27v2H0z M18,1.4L19.4,0L28,8.7L26.6,10L18,1.4z M19.4,17.3L18,15.9l8.6-8.6L28,8.7L19.4,17.3z"/>
</svg>
</a>
			</div>

			<!-- template injected here -->
			<div class="render-wrapper"></div>

			<div class="footer">
				<a href="javascript" class="button-next button-next--descriptive"><span class="label">Next — <strong class="name fw-med">Erwin Hines</strong></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17.3">
<path d="M0,9.7v-2h27v2H0z M18,1.4L19.4,0L28,8.7L26.6,10L18,1.4z M19.4,17.3L18,15.9l8.6-8.6L28,8.7L19.4,17.3z"/>
</svg>
</a>
			</div>

		</div>

	</div>

	<script id="template-detail-layer" type="text/template">

		<div class="render-block">

			<div class="main-info">
				<h2><%= title %></h2>
				<% if(typeof(modules.basics) !== 'undefined') { %>
				<span class="subline"><%= modules.basics.position %></span>
				<% } %>
				<div class="links">
					<% if(typeof(modules.basics) !== 'undefined') { %>
					<span class="label"><%= modules.basics.supheading %><% if(modules.basics.supheading){ %><br><% } %><span class="serif"><%= modules.basics.origin %></span></span>
					<% } %>
					<% if(typeof(modules.socials) !== 'undefined' && modules.socials.socials.length) { %>
					<!-- <ul>
						<% for(var i=0; i<modules.socials.socials.length; i++) { %>
							<% var item = modules.socials.socials[i]; %>
							<li><a href="<%= item.url %>" target="_blank"><%= item.service %></a></li>
						<% } %>
					</ul> -->
					<% } %>
				</div>
			</div>

			<% if(typeof(modules.interview) !== 'undefined' && modules.interview.interview.length) { %>
			<div class="interview">
				<% for(var i=0; i<modules.interview.interview.length; i++) { %>
					<% var item = modules.interview.interview[i]; %>
					<% if(item.acf_fc_layout === 'qA'){ %>
						<p class="question"><%= item.question %></p>
						<p class="answer"><%= item.answer %></p>
					<% } else if(item.acf_fc_layout === 'quote'){ %>
						<q><span class="underline"><%= item.quote %></span></q>
					<% } %>
				<% } %>
			</div>
			<% } %>

			<% if(typeof(modules.list) !== 'undefined' && modules.list.list.length) { %>
			<div class="list">
				<% if(modules.list.heading) { %>
				<div class="heading">
					<span class="accent-md"><%= modules.list.heading %></span>
				</div>
				<% } %>
				<ul>
				<% for(var i=0; i<modules.list.list.length; i++) { %>
					<% var item = modules.list.list[i]; %>
					<li>
						<div class="number accent-md"><%= window.utils.NumberUtils.formatNumber(i+1, 2) %></div>
						<p class="lg"><strong class="fw-med"><%= item.title %></strong> — <%= item.type %></p>
						<p><%= item.description %></p>
					</li>
				<% } %>
				</ul>
			</div>
			<% } %>

		</div>

	</script>
</section>

		<div class="sticky-player">

	<button class="close">
		<figure class="x-small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13">
<path d="M-0.364,10.95L10.95-.365,12.364,1.05,1.05,12.364Zm0-9.9L1.05-.365,12.364,10.95,10.95,12.364Z"/>
</svg>
</figure>
	</button>

	<button class="play-pause">
		<figure class="play"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 12">
<path d="M0-.009l7.991,6L0,11.99v-12Z"/>
</svg>
</figure>
		<figure class="pause"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 12">
<path d="M7,0h3V12H7V0ZM0,0H3V12H0V0Z"/>
</svg>
</figure>
	</button>

	<div class="track-info">
		<span class="name"></span>
		<span class="time"><span class="current">00:00</span> / <span class="duration">00:00</span></span>
		<a href="/" target="_blank" class="external-link" data-bypass>
			<figure><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9">
<path d="M3.01-.01h6v6"/>
<path d="M6.677,0.987L8.013,2.323,1.334,9,0,7.666Z"/>
</svg>
</figure>
		</a>
	</div>

</div>



<div class="takeover-intro " data-takeover-intro [object Object]>
	<div class="takeover-intro__wrapper">
		<div class="takeover-intro__logo">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544.5 125.49">
	<path d="M0,4.24H61.05C87.67,4.24,98.61,16.36,98.61,34c0,11.18-7.38,22.3-17.21,27.05,12.38,4.07,21.11,14.24,21.11,26.54,0,22.55-16.11,35.36-43.75,35.36H0ZM50.87,28H32.22V53.42H50.87C62.07,53.42,67,48.84,67,40.7S62.75,28,50.87,28Zm1.7,45.79H32.22V99.21h21.2c11.87,0,17-4.41,17-12.72C70.38,78,65.29,73.77,52.57,73.77Z"/>
	<path d="M218.76,81.68h31.37c.68,12.59,10.26,20,23.31,20,11.54,0,18.83-4.36,18.83-12.06,0-5.41-3-8.73-13.23-10.83L253.6,73.38C233.76,69.19,221,58.87,221,39c0-23.6,20.52-38.1,48.67-38.1,29.34,0,52.49,11.62,52.49,40.64H290.83C290,30.47,281.75,25,269.88,25c-10.68,0-16.62,4.89-16.62,10.83,0,5.42,3.06,8.74,13.23,10.84l25.44,5.42c19.84,4.19,32.56,14.5,32.56,34.43,0,24.47-20,39-51.89,39C237.32,125.49,219.44,109,218.76,81.68Z"/>
	<path d="M434.89,97.88c14.75,0,23.66-9,25.52-19.66h33.07c-2.88,31.8-28.58,47.27-58.59,47.27-39,0-61.73-25-61.73-62.74S395.88,0,434.89,0c30,0,55.71,15.82,58.59,47.63H460.41c-1.86-10.66-10.77-20-25.52-20-17.3,0-28,14.86-28,35.14S417.59,97.88,434.89,97.88Z"/>
	<rect x="332.38" y="3.39" width="32.22" height="118.71"/>
	<path d="M189.93,122.1H223L181.45,3.39h-40.7L99.21,122.1h33.06l6.29-20.35h45.08Zm-43.5-45.79,14.41-46.63h.52l14.42,46.63Z"/>
	<path d="M521.18.85A23.32,23.32,0,1,0,544.5,24.17,23.31,23.31,0,0,0,521.18.85Zm0,42.75a19.44,19.44,0,1,1,19.43-19.43A19.43,19.43,0,0,1,521.18,43.6Z"/>
	<path d="M511.47,11.86h11.76c5.71,0,9.06,2.43,9.06,7.65a6.73,6.73,0,0,1-4.63,6.6l5.83,9.07h-5.83l-5.18-7.78h-5.83v7.78h-5.18Zm12,3.89h-6.78v7.77h6.78c2.26,0,3.64-1.55,3.64-3.91A3.53,3.53,0,0,0,523.43,15.75Z"/>
</svg>		</div>

		<div class="takeover-intro__info">
			<p><strong>(!) Warning</strong> This site has flashing images and other weird stuff</p>
		</div>

		<div class="takeover-intro__progress-bar"></div>

		<div class="takeover-intro__frames">
							<div class="frame is-active">
											<img src="/assets//images/intro/frames/01.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/02.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/03.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/04.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/05.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/06.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/07.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/08.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/09.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/10.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/11.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/12.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/13.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/14.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/15.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/16.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/17.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/18.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/19.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/20.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/21.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/22.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/23.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/24.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/25.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/26.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/27.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/28.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/29.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/30.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/31.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/32.jpg" alt="" draggable="false" />
									</div>
							<div class="frame ">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/assets//images/intro/frames/33.jpg" alt="" draggable="false" />
									</div>
					</div>
	</div>
</div>

		<div id="transition-page" class="transition-page " data-module-transition-page data-dom-scan-ignore [object Object]>
	<figure class="wipe"></figure>
</div>
		<div class="video-container">

<div class="video-player  " data-video-player [object Object]>

	<div class="plyr-video " data-plyr-video [object Object]>

	<div class="dom-data" data-plyr-provider="youtube" data-plyr-type="youtube" data-plyr-embed-id="zCSjkYgioKI" ></div>

	<!-- <button type="button" data-plyr="play" class="plyr__play-large" aria-label="Play, Video demo">
		<figure class="button-icon button-icon-play">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="#21D400">
<path class="st0" d="M16,12.5l11.1,8l-11.1,8"/>
</svg>
		</figure>
		<span class="plyr__sr-only">Play</span>
	</button> -->

	<div class="player-wrapper">
		<div class="player"></div>
	</div>

	<!-- video controls template -->
	<!-- check for latest at https://github.com/sampotts/plyr/blob/master/controls.md -->

	<script id="plyr__controls_template" type="text/template">

	</script>

</div>

	<div class="scaler"></div>

</div>
			<div class="close-layer" data-cursor-hover data-cursor-type="exit"></div>
		</div>


<div class="eased-cursor" data-eased-cursor>

	<svg class="icon--arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 116.67 146.21">
	  <polygon points="71.25 128.34 112.98 86.61 99.73 73.36 67.7 105.39 67.7 4.63 48.97 4.63 48.97 106.06 16.94 74.03 3.69 87.27 58.01 141.59 58.67 140.93 58.67 140.93 65.95 133.64 71.25 128.34 71.25 128.34" fill-rule="evenodd" />
	</svg>

	<svg class="icon--x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.4 100.4">
	  <polygon points="99.7 14.8 85.6 0.7 50.2 36.1 14.8 0.7 0.7 14.8 36.1 50.2 0.7 85.6 14.8 99.7 50.2 64.3 85.6 99.7 99.7 85.6 64.3 50.2 99.7 14.8" style="fill: none; stroke-miterlimit: 10"/>
	</svg>

	<svg class="icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.29 109.29">
	  <polygon points="109.29 13.25 96.04 0 54.97 41.07 54.97 41.06 54.31 41.72 54.31 41.73 13.25 0.67 0 13.91 41.07 54.98 0 96.04 13.25 109.29 54.32 68.23 54.32 68.23 54.98 67.57 54.98 67.57 96.04 108.62 109.29 95.38 68.22 54.32 109.29 13.25"/>
	</svg>

</div>
</body>

</html>
