{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">
  <title>{% block title %}{% endblock %}</title>
  {% block meta %}{% endblock %}

  <link rel="stylesheet" id='main-css' href="{% static 'styles/style.css' %}" media="all" />
  <script>
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
  <script type='text/javascript'>
    var INFO = {"BASEURL":"http:трезвый.рус","WPBAR":""};
  </script>
</head>

<body>

  <div class="canvas" data-component="gl"></div>
  <div class="load_block" style="">
    <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-1" data-nofadetop="true">
      <img src="/static/images/bg_header.jpg" width="1680" height="1507" alt="Glitch noise">
    </div>
    {% include "navbar.html" %}
    <main class="site-main" data-barba="wrapper">
      {% block content %}
      {% endblock %}
    </main>
    <div class="mobile_block_reload"></div>
  </div>
  {% include 'footer_2.html' %}

  {% include 'scripts.html' %}

</body>
</html>
