<div class="footer-glitch-container">
    <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
        <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
    </div>
</div>
<footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
    <div class="wrapper">
        <p class="label">Партнеры</p>
        <div class="sponsor mb-xl mt-xs">
            <ul class="sponsor__list">
                <li>
                    logo
                    <a href=""></a>
                </li>
                <li>
                    logo
                    <a href=""></a>
                </li>
                <li>
                    logo
                    <a href=""></a>
                </li>
                <li>
                    logo
                    <a href="" target="_blank"></a>
                </li>
            </ul>
        </div>

        <div class="footer__nav">
            <div class="footer__copy">
                <svg viewBox="0 0 374.7 163.4" class="icon mb-xxs icon-wecargo-logo-tiny">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wecargo-logo-tiny"></use>
                </svg>
                Copyright @ свои.рус 2020&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Liege Airport</a>
            </div>
            <ul class="footer__menu">
                <li class="social">
                    <a href="" target="_blank">
                        <svg viewBox="0 0 8.3 16" class="icon icon-social-facebook">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social">
                    <a href="" target="_blank">
                        <svg viewBox="0 0 16 13" class="icon icon-social-twitter">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social">
                    <a href="" target="_blank">
                        <svg viewBox="0 0 16 16" class="icon icon-social-linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="mail"><a data-click-sound-contact href="">mail</a></li>
                <li><a href="">Политика конфеденциальности</a></li>
            </ul>
        </div>
    </div>
</footer>
