<div class="not-supported">
    <p class="lead">This website is not optimized for your browser. </p>
    <button onClick="(function(){
        document.documentElement.classList.remove('show-notsupported');
        return false;
    })();return false;">Закрыть</button>
</div>
<div class="cookiebar" data-component="cookiebar">
    <button class="cookiebar_close">
        <div class="first"><span></span></div>
        <div class="second"><span></span></div>
    </button>
    <p class="text-appear">
        <span class="line"><span>Мы используем файлы cookie.</span></span><span class="line"><span>Для получения дополнительной информации перейдите в <a href="">политику безопасности</a></span></span>
    </p>
</div>
<div class="thank" data-component="thank">
    <div class="thank_layer" data-ref="thank.layer"></div>
    <div class="thank_popup">
        <button class="popup_close" data-ref="thank.close">
            <div class="first"><span></span></div>
            <div class="second"><span></span></div>
        </button>
        <div class="thank_panel" data-ref="thank.panel">
            <div class="thank_image">
                <img data-ref="thank.img" src="/static/images/thank.jpg" alt="Speaker">
            </div>
            <div class="thank_content" data-ref="thank.right">
                <h3>Спасибо за заявку</h3>
                <div class="mb-xxs"></div>
                <p>Здесь пояснительный или рекламный текст</p>
                <div class="mb-xs"></div>
                <a href="" class="more" data-sound-hover target="_blank">
                    ссылка
                    <div class="more_icon">
                        <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                        </svg>
                        <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
                <div class="mb-xxs"></div>
                <a href="" class="more" data-sound-hover target="_blank">
                    подпишитесь на наши обновления
                    <div class="more_icon">
                        <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                        </svg>
                        <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
                <div class="thank_follow mt-m">
                    <a href="" target="_blank">
                        <svg viewBox="0 0 16 16" class="icon icon-social-linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
