<div class="footer__nav">
    <div class="footer__copy">

        <svg viewBox="0 0 374.7 163.4" class="icon mb-xxs icon-wecargo-logo-tiny">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wecargo-logo-tiny"></use>
        </svg>

        Copyright @ WeCargo 2020&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://goo.gl/maps/nAKhjyX3ndqhnLto7" target="_blank">Liege Airport</a>
    </div>

    <ul class="footer__menu">
        <li class="social">
            <a href="https://www.facebook.com/events/450540575541083/" target="_blank">

                <svg viewBox="0 0 8.3 16" class="icon icon-social-facebook">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="social">
            <a href="https://twitter.com/lggliegeairport" target="_blank">

                <svg viewBox="0 0 16 13" class="icon icon-social-twitter">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social">
            <a href="https://www.linkedin.com/company/19022278" target="_blank">

                <svg viewBox="0 0 16 16" class="icon icon-social-linkedin">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
                </svg>
            </a>
        </li>

        <li class="mail"><a data-click-sound-contact href="mailto:info@wecargo.be">Contact</a></li>

        <li><a href="https://www.wecargo.be/privacy-policy/">Privacy</a></li>
        <li class="footer__epic">
            <a href="https://epic.net" target="_blank">

                <svg viewBox="0 0 100 100" class="icon icon-epic-logo">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#epic-logo"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
