<header class="nav" data-component="nav menu">
    <div class="nav_wrapper wrapper">
        <a class="nav_logo" href="http://свои.рус" data-sound-hover>
            свои.рус
        </a>

        <nav class="nav_list" data-component="trackable" data-type="magic_line">
            <ul class="nav_list_ul">
                <li>
                    <a class="nav_list_magic" data-sound-hover href="http://свои.рус/about"><span data-component="trackable" data-type="is_visible">О проекте<span></a>
                </li>
                <li data-ref="nav.program">
                    <a class="nav_list_magic" data-sound-hover href=""><span data-component="trackable" data-type="is_visible">Команда</span></a>
                    <div class="nav_sublist" data-ref="nav.sublist">
                        <div class="nav_sublist_container p-l" data-ref="nav.sublistcontainer">
                            <div class="events">
                                <div class="events_item m-m">
                                    <div class="mb-xs"><p class="label">Документы</p></div>
                                    <ul><li><a href="" class="event-link" data-sound-hover>Документ 1</a></li></ul>
                                </div>
                                <div class="events_item m-m">
                                    <div class="mb-xs"><p class="label">Подменю</p></div>
                                    <ul><li><a href="" class="event-link" data-sound-hover>Пункт 1</a></li></ul>
                                </div>
                                <div class="events_item m-m">
                                    <div class="mb-xs"><p class="label">Команда</p></div>
                                    <ul>
                                      {% for object in categories %}
                                        <li>
                                          <a href="http://свои.рус/people/{{ object.slug }}" class="event-link" data-sound-hover>
                                            {{ object.name }}
                                          </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav_list_magic" data-sound-hover href="http://свои.рус/news/">
                        <span data-component="trackable" data-type="is_visible">Новости</span>
                    </a>
                </li>
            </ul>
            <button class="nav_toggler" data-ref="menu.toggler" data-sound-hover>
                <div><span class="first"></span></div>
                <div><span class="second"></span></div>
            </button>
            <a href="" class="button nav_button" data-sound-hover data-component="trackable" data-type="button">
                <span>
                    Get tickets
                </span>
            </a>
        </nav>
    </div>

<!-- моб меню -->
    <div class="menu" data-ref="menu.menu">
        <div class="menu_layer" data-ref="menu.layer"></div>
        <div class="menu_panel">
            <div class="menu_blue" data-ref="menu.blue"></div>
            <div class="menu_content p-xl" data-ref="menu.content">
                <div class="wrapper">
                    <div class="menu_container mt-xl">
                        <ul class="menu_left">
                            <nav>
                                <ul>
                                    <li>
                                        <div class="menu_bigitem">
                                            <div class="">
                                                <div data-sound-hover>
                                                    <a class="h1" href="http://свои.рус/about">О проекте</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-ref="menu.program">
                                        <div class="menu_bigitem" data-ref="menu.programbigitem">
                                            <div>
                                                <div data-sound-hover>
                                                    <a href="" class="h1">Команда</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu_events" data-ref="menu.events">
                                            <div class="events">
                                                <div class="events_item m-m">
                                                    <ul>
                                                      {% for object in categories %}
                                                        <li>
                                                            <a href="http://свои.рус/people/{{ object.slug }}" class="event-link" data-sound-hover>
                                                                {{ object.name }}
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                      {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="menu_bigitem">
                                            <div >
                                                <div data-sound-hover>
                                                    <a href="http://свои.рус/news" class="h1">Новости</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
