
<header class="nav" data-component="nav menu">
    <div class="nav__wrapper wrapper">
        <a class="nav__logo" href="http://свои.рус" data-sound-hover>
            свои.рус
        </a>

        <nav class="nav__list" data-component="trackable" data-type="magic_line">
            <ul class="nav__list__first">
                <li>
                    <a class="nav__list__firsta" data-sound-hover href=""><span data-component="trackable" data-type="placeholder">О проекте<span></a>
                </li>
                <li data-ref="nav.program">
                    <a class="nav__list__firsta" data-sound-hover href=""><span data-component="trackable" data-type="placeholder">О работе</span></a>
                    <div class="nav__sublist" data-ref="nav.sublist">
                        <div class="nav__sublist__container p-l" data-ref="nav.sublistcontainer">
                            <div class="events">
                                <div class="events__item m-m">
                                    <div class="mb-xs"><p class="label">Документы</p></div>
                                    <ul><li><a href="" class="event-link" data-sound-hover>Документ 1<svg viewBox="0 0 13 10" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></a></li></ul>
                                </div>
                                <div class="events__item m-m">
                                    <div class="mb-xs"><p class="label">Подменю</p></div>
                                    <ul><li><a href="" class="event-link" data-sound-hover>Пункт 1<svg viewBox="0 0 13 10" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></a></li></ul>
                                </div>
                                <div class="events__item m-m">
                                    <div class="mb-xs"><p class="label">Команда</p></div>
                                    <ul>
                                      {% for object in categories %}
                                        <li>
                                          <a href="http://свои.рус/people/{{ object.slug }}" class="event-link" data-sound-hover>
                                            {{ object.name }}
                                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg>
                                          </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav__list__firsta" data-sound-hover href="http://свои.рус/news/">
                        <span data-component="trackable" data-type="placeholder">О новом</span>
                    </a>
                </li>
            </ul>
            <button class="nav__toggler" data-ref="menu.toggler" data-sound-hover>
                <div><span class="first"></span></div>
                <div><span class="second"></span></div>
            </button>
            <a href="" class="button nav__button" data-sound-hover data-component="trackable" data-type="button">
                <span>
                    Get tickets
                </span>
            </a>
        </nav>
    </div>

<!-- моб меню -->
    <div class="menu" data-ref="menu.menu">
        <div class="menu__layer" data-ref="menu.layer"></div>
        <div class="menu__panel">
            <div class="menu__blue" data-ref="menu.blue"></div>
            <div class="menu__content p-xl" data-ref="menu.content">
                <div class="wrapper">
                    <div class="menu__container mt-xl">
                        <ul class="menu__left">
                            <nav>
                                <ul>
                                    <li>
                                        <div class="menu__bigitem">
                                            <div class="menu__bigitem__jsscroll">
                                                <div class="menu__bigitem__scroll" data-sound-hover>
                                                    <a href="" class="h1">Ссылка</a>
                                                    <a href="" class="h1 outline">Ссылка</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-ref="menu.program">
                                        <div class="menu__bigitem" data-ref="menu.programbigitem">
                                            <div class="menu__bigitem__jsscroll">
                                                <div class="menu__bigitem__scroll" data-sound-hover>
                                                    <a href="" class="h1">Ссылка</a>
                                                    <a href="" class="h1 outline">Ссылка</a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu__events" data-ref="menu.events">
                                            <div class="events">
                                                <div class="events__item m-m">
                                                    <div class="mb-xs">
                                                        <p class="label">Дата</p>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="events__item m-m">
                                                    <div class="mb-xs">
                                                        <p class="label">13 nov</p>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="events__item m-m">
                                                    <div class="mb-xs">
                                                        <p class="label">14 nov</p>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="event-link" data-sound-hover>
                                                                Ссылка
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="Ссылка" class="event-link" data-sound-hover>
                                                                Ideation Camp
                                                                <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="menu__bigitem">
                                            <div class="menu__bigitem__jsscroll">
                                                <div class="menu__bigitem__scroll" data-sound-hover>
                                                    <a href="" class="h1">Ссылка</a>
                                                    <a href="" class="h1 outline">Ссылка</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </ul>

                        <ul class="menu__right">
                            <nav class="mt-xl">
                                <ul>
                                    <li>
                                        <a href="" class="event-link" data-sound-hover>
                                            Ссылка
                                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="event-link" data-sound-hover>
                                            Ссылка
                                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Ссылка" class="event-link" data-sound-hover>
                                            Ссылка
                                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="mt-m"></div>
                                        <a href="" class="event-link small" data-sound-hover data-barba-prevent="1" data-click-sound-contact="1">
                                            Ссылка
                                            <svg viewBox="0 0 13 10" class="icon small icon-arrow-right" data-barba-prevent="1" data-click-sound-contact="1">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="event-link small" data-sound-hover target="_blank">
                                            Ссылка
                                            <svg viewBox="0 0 13 10" class="icon small icon-arrow-right" target="_blank">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
