
<script src="/static/scripts/plugins.js" type="text/javascript"></script>

<script>
    {% include 'generic/main_intro.js' %}
    ([,
     {% include 'generic/main_1.js' %} , , ,
     {% include 'generic/main_2.js' %} , , ,
     {% include 'generic/main_3.js' %} , ,
     {% include 'generic/main_4.js' %} , ,
     {% include 'generic/main_5.js' %} , ,
     {% include 'generic/main_6.js' %} , , , , , , , , ,
     {% include 'generic/main_7.js' %} , , , , , , , , , , , , , , , , , ,
     {% include 'generic/main_8.js' %} , , , , ,
     {% include 'generic/main_9.js' %} , ,
     {% include 'generic/main_10.js' %} , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,
     {% include 'generic/main_11.js' %} , , , , ,
     {% include 'generic/main_12.js' %}
    ]);
</script>
