{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}{{ object.title }} - Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="venue" data-menu-current="menu-item-63">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ object.image2|thumbnail_url:'vert_160' }} 160w,
            {{ object.image2|thumbnail_url:'vert_240' }} 240w,
            {{ object.image2|thumbnail_url:'vert_320' }} 320w,
            {{ object.image2|thumbnail_url:'hor_480' }} 480w,
            {{ object.image2|thumbnail_url:'hor_640' }} 640w,
            {{ object.image2|thumbnail_url:'hor_960' }} 960w,
            {{ object.image2|thumbnail_url:'hor_1440' }} 1440w,
            {{ object.image2|thumbnail_url:'hor_1600' }} 1600w,
            {{ object.image2|thumbnail_url:'hor_1920' }} 1920w,
            {{ object.image2|thumbnail_url:'hor_2240' }} 2240w,
            {{ object.image2|thumbnail_url:'hor_2560' }} 2560w,
            {{ object.image2|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro margin_tb">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title margin_b text-appear">{{ object.title }}</h1>
            <div class="intro_text about_w">
                <p>{{ object.description|linebreaks }}</p>
            </div>
        </div>
    </div>

    <div class="margin_tb mb_32"></div>

    <div class="wrapper content content_small">
        <div class="content_container">
          {{ object.content|safe }}
        </div>
    </div>
    <div class="margin_tb mb_32"></div>

    <div class="footer-glitch-container">
      <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
        <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
      </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar margin_b3" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Conferences
                    </span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Ideation camp
                    </span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
