{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}{{ object.title }} - Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="venue" data-menu-current="menu-item-63">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ object.image2|thumbnail_url:'vert_160' }} 160w,
            {{ object.image2|thumbnail_url:'vert_240' }} 240w,
            {{ object.image2|thumbnail_url:'vert_320' }} 320w,
            {{ object.image2|thumbnail_url:'hor_480' }} 480w,
            {{ object.image2|thumbnail_url:'hor_640' }} 640w,
            {{ object.image2|thumbnail_url:'hor_960' }} 960w,
            {{ object.image2|thumbnail_url:'hor_1440' }} 1440w,
            {{ object.image2|thumbnail_url:'hor_1600' }} 1600w,
            {{ object.image2|thumbnail_url:'hor_1920' }} 1920w,
            {{ object.image2|thumbnail_url:'hor_2240' }} 2240w,
            {{ object.image2|thumbnail_url:'hor_2560' }} 2560w,
            {{ object.image2|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro m-xxl">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title mb-xxs text-appear">{{ object.title }}</h1>
        </div>
    </div>

    <div class="m-xxl mb-onlyxl"></div>

    <div class="wrapper content content_small">
        <div class="content_container">
          {{ object.content|safe }}
        </div>
    </div>
    <div class="m-xxl mb-onlyxl"></div>
<!--
    <div class="cta mt-xxl">
        <div class="wrapper">
            <div class="cta_title" data-component="trackable" data-type="magic_line_image" data-parallax=".07">
                <img class="cta_title_image" src="{% static 'images/home/title.png' %}" srcset="
                  {% static 'images/home/title_160.png' %} 160w,
                  {% static 'images/home/title_240.png' %} 240w,
                  {% static 'images/home/title_320.png' %} 320w,
                  {% static 'images/home/title_480.png' %} 480w,
                  {% static 'images/home/title_640.png' %} 640w,
                  {% static 'images/home/title_960.png' %} 960w,
                  {% static 'images/home/title_1280.png' %} 1280w,
                  {% static 'images/home/title_1440.png' %} 1440w,
                  {% static 'images/home/title_1600.png' %} 1600w,
                  {% static 'images/home/title_1920.png' %} 1920w,
                  {% static 'images/home/title_2240.png' %} 2240w,
                  {% static 'images/home/title_2560.png' %} 2560w,
                  {% static 'images/home/title_2880.png' %} 2880w" sizes="(max-width: 1100px) 100vw, 1100px" alt="" crossorigin="" />
            </div>
            <div class="m-m">
                <p class="cta_text lead text-appear" data-component="showtext">
                    <span class="line"><span>Здесь пригласительный текст для желающих,</span></span>
                    <span class="line"><span>с описанием возможных способов взаимодействия</span></span>
                </p>
            </div>

            <a href="" class="button button_big" data-sound-hover data-component="trackable" data-type="button">
                <span>
                    Принять участие
                    <svg viewBox="0 0 13 10" class="icon button_big icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
-->
    <div class="footer-glitch-container">
      <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
        <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
      </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar mb-xl" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Conferences
                      <svg viewBox="0 0 13 10" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
                    </span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                      <span>Ideation camp
                      <svg viewBox="0 0 13 10" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
                    </span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
