{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="program" data-menu-current="menu-item-30">
    <div class="cover">
      <div class="cover_image">
          <img src="{% static 'images/peoples/navbar.jpg' %}"
          srcset="
           {% static 'images/peoples/navbar_160.jpg' %} 160w,
           {% static 'images/peoples/navbar_240.jpg' %} 240w,
           {% static 'images/peoples/navbar_320.jpg' %} 320w,
           {% static 'images/peoples/navbar_480.jpg' %} 480w,
           {% static 'images/peoples/navbar_640.jpg' %} 640w,
           {% static 'images/peoples/navbar_960.jpg' %} 960w,
           {% static 'images/peoples/navbar_1280.jpg' %} 1280w,
           {% static 'images/peoples/navbar_1440.jpg' %} 1440w,
           {% static 'images/peoples/navbar_1600.jpg' %} 1600w,
           {% static 'images/peoples/navbar_1920.jpg' %} 1920w,
           {% static 'images/peoples/navbar_2240.jpg' %} 2240w,
           {% static 'images/peoples/navbar_2560.jpg' %} 2560w,
           {% static 'images/peoples/navbar_2880.jpg' %} 2880w"
          sizes="(max-width: 768px) 150vw, 100vw"
          data-component="trackable"
          data-type="cover"
          data-parallax="-1.2"
          crossorigin="" />
      </div>
    </div>

    <div class="intro m-xxl">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title mb-xxs text-appear">Новости</h1>
            <div class="mb-m">
                <div class="intro_subtitle baseline text-appear">Шаги становления соц сети будут здесь</div>
            </div>
            <div class="intro_date" data-component="trackable" data-type="magic_line_image" data-parallax="-0.5">
                <img src="{% static 'images/home/1.png' %}" srcset="
                  {% static 'images/home/number.png' %} 160w,
                  {% static 'images/home/number.png' %} 240w,
                  {% static 'images/home/number.png' %} 320w,
                  {% static 'images/home/number.png' %} 480w,
                  {% static 'images/home/number.png' %} 640w,
                  {% static 'images/home/number.png' %} 960w,
                  {% static 'images/home/number_big.png' %} 1280w,
                  {% static 'images/home/number_big.png' %} 1440w,
                  {% static 'images/home/number_big.png' %} 1600w,
                  {% static 'images/home/number_big.png' %} 1920w,
                  {% static 'images/home/number_big.png' %} 2240w,
                  {% static 'images/home/number_big.png' %} 2560w,
                  {% static 'images/home/number_big.png' %} 2880w" sizes="(max-width: 640px) 70vw, 640px" alt="" crossorigin="" />
            </div>
        </div>
    </div>

    <div class="list mb-xxl">
        <div class="wrapper">
            <ul class="list_ul" data-component="trackable" data-type="magic_hover">
              {% for object in object_list %}
                <li class="list_li p-s ">
                    <a class="list_link" href="{% url 'news_detail' new_slug=object.new_slug %}" data-sound-hover></a>
                    <div class="list_image" data-component="trackable" data-type="is_visible">
                        <img src="{{ object.image1.url }}" alt="" sizes="200px" crossorigin="" />
                    </div>
                    <dl class="list_conference">
                        <dt class="list_conference_hour"><span>{{ object.posted }}</span></dt>
                        <dd class="list_conference_text">
                            <p class="name">{{ object.title }}</p>
                            <p>{{ object.description }}</p>
                        </dd>
                    </dl>
                </li>
              {% else %}
              <p class="name">Новостей пока нет...</p>
              {% endfor %}
            </ul>
        </div>
    </div>

    <div class="pt-xl mb-m">
        <div class="wrapper">
            <p class="label">At the same time</p>
        </div>
    </div>
    <div class="expand mb-xxl" data-component="expand">
        <div class="wrapper">
            <div class="expand_container pb-l" id="startup-garden">
                <div class="expand_intro">
                    <div class="expand_title" data-component="showtext">
                        <p class="expand_hour text-appear">
                            <span class="line"><span>10h00 > 18h00</span></span>
                        </p>
                        <h2 class="text-appear">
                            <div class="line" style="padding-bottom: 10px"><span>Startup garden</span></div>
                        </h2>
                    </div>

                    <div class="expand_desc wysiwyg">
                        <p class="lead">What are the next big things?</p>
                        <p>Discover many startups and scale-ups, they’ll present the project they’re busy with. Every company will have a booth in the Liege Airport Terminal, having the opportunity to present their project, network and challenge their ideas. If you would like to make new innovative partnership, it’s the place to be!</p>
                    </div>
                </div>
                <div class="mt-l expand_toggle_container">
                    <a href="#" class="lead expand_toggle" data-ref="expand.toggle">
                        View startups list
                        <svg viewBox="0 0 11.7 6.9" class="icon icon-caret-down">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-down"></use>
                        </svg>
                    </a>
                </div>

                <div class="expand_content" data-ref="expand.content">
                    <ul>
                      <li>
                          <span>Cainiao</span>
                          <a href="" class="more" data-sound-hover target="_blank">
                              www
                              <div class="more_icon">
                                  <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                                  <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                              </div>
                          </a>
                      </li>
                      <li>
                          <span>Cainiao</span>
                          <a href="" class="more" data-sound-hover target="_blank">
                              www
                              <div class="more_icon">
                                  <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                                  <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                              </div>
                          </a>
                      </li>
                      <li>
                          <span>Cainiao</span>
                          <a href="" class="more" data-sound-hover target="_blank">
                              www
                              <div class="more_icon">
                                  <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                                  <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                              </div>
                          </a>
                      </li>
                      <li>
                          <span>Cainiao</span>
                          <a href="" class="more" data-sound-hover target="_blank">
                              www
                              <div class="more_icon">
                                  <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                                  <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                              </div>
                          </a>
                      </li>
                      <li>
                          <span>Cainiao</span>
                          <a href="" class="more" data-sound-hover target="_blank">
                              www
                              <div class="more_icon">
                                  <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                                  <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                  </svg>
                              </div>
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="expand mb-xxl" data-component="expand">
        <div class="wrapper">
            <div class="expand_container pb-l" id="market-lab">
                <div class="expand_intro">
                    <div class="expand_title" data-component="showtext">
                        <p class="expand_hour text-appear">
                            <span class="line"><span>10h00 > 18h00</span></span>
                        </p>
                        <h2 class="text-appear">
                            <div class="line" style="padding-bottom: 10px"><span>Market Lab</span></div>
                        </h2>
                    </div>
                    <div class="expand_desc wysiwyg">
                        <p class="lead">Learn from our partners</p>
                        <p>At WeCargo, we are sure that innovation occurs only through partnership. Our amazing partners such as Qatar Airways, Alibaba, Cainiao and more will be present to show their projects and solutions. You’ll have the opportunity to meet and share with them.</p>
                    </div>
                </div>
                <div class="mt-l expand_toggle_container">
                    <a href="#" class="lead expand_toggle" data-ref="expand.toggle">
                        View market lab list
                        <svg viewBox="0 0 11.7 6.9" class="icon icon-caret-down">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="expand_content" data-ref="expand.content">
                    <ul>
                        <li>
                            <span>Cainiao</span>
                            <a href="" class="more" data-sound-hover target="_blank">
                                www
                                <div class="more_icon">
                                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <span>Montea</span>
                            <a href="" class="more" data-sound-hover target="_blank">
                                www
                                <div class="more_icon">
                                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li>
                            <span>Asendia</span>
                            <a href="" class="more" data-sound-hover target="_blank">
                                www
                                <div class="more_icon">
                                    <svg viewBox="0 0 13 10" class="icon first icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg viewBox="0 0 13 10" class="icon second icon-arrow-right" target="_blank">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-onlyxl"></div>

    <div class="cta mt-xxl">
        <div class="wrapper">
            <div class="cta_title" data-component="trackable" data-type="magic_line_image" data-parallax=".07">
                <img class="cta_title_image" src="{% static 'images/home/title.png' %}" srcset="
                  {% static 'images/home/title_160.png' %} 160w,
                  {% static 'images/home/title_240.png' %} 240w,
                  {% static 'images/home/title_320.png' %} 320w,
                  {% static 'images/home/title_480.png' %} 480w,
                  {% static 'images/home/title_640.png' %} 640w,
                  {% static 'images/home/title_960.png' %} 960w,
                  {% static 'images/home/title_1280.png' %} 1280w,
                  {% static 'images/home/title_1440.png' %} 1440w,
                  {% static 'images/home/title_1600.png' %} 1600w,
                  {% static 'images/home/title_1920.png' %} 1920w,
                  {% static 'images/home/title_2240.png' %} 2240w,
                  {% static 'images/home/title_2560.png' %} 2560w,
                  {% static 'images/home/title_2880.png' %} 2880w" sizes="(max-width: 1100px) 100vw, 1100px" alt="" crossorigin="" />
            </div>

            <div class="m-m">
                <p class="cta_text lead text-appear" data-component="showtext">
                    <span class="line"><span>Здесь пригласительный текст для желающих,</span></span>
                    <span class="line"><span>с описанием возможных способов взаимодействия</span></span>
                </p>
            </div>

            <a href="" class="button button--big" data-sound-hover data-component="trackable" data-type="button">
                <span>
                    Принять участие
                    <svg viewBox="0 0 13 10" class="icon button--big icon-arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <div class="footer-glitch-container">
        <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
            <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
        </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar mb-xl" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                        <span>Conferences
                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                            </svg></span>
                    </span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                        <span>Ideation camp
                            <svg viewBox="0 0 13 10" class="icon icon-arrow-right">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                            </svg></span>
                    </span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
