{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://свои.рус{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div data-barba="container" data-barba-namespace="program" data-menu-current="menu-item-30">
    <div class="cover">
      <div class="cover_image">
          <img src="{{ banner.image.url }}" srcset="
            {{ banner.image|thumbnail_url:'vert_160' }} 160w,
            {{ banner.image|thumbnail_url:'vert_240' }} 240w,
            {{ banner.image|thumbnail_url:'vert_320' }} 320w,
            {{ banner.image|thumbnail_url:'hor_480' }} 480w,
            {{ banner.image|thumbnail_url:'hor_640' }} 640w,
            {{ banner.image|thumbnail_url:'hor_960' }} 960w,
            {{ banner.image|thumbnail_url:'hor_1440' }} 1440w,
            {{ banner.image|thumbnail_url:'hor_1600' }} 1600w,
            {{ banner.image|thumbnail_url:'hor_1920' }} 1920w,
            {{ banner.image|thumbnail_url:'hor_2240' }} 2240w,
            {{ banner.image|thumbnail_url:'hor_2560' }} 2560w,
            {{ banner.image|thumbnail_url:'hor_2880' }} 2880w" alt="" sizes="(max-width: 768px) 150vw, 100vw" data-component="trackable" data-type="cover" data-parallax="-1.2" crossorigin="" />
      </div>
    </div>

    <div class="intro m-xxl">
        <div class="wrapper intro_wrapper" data-component="showtext">
            <h1 class="intro_title mb-xxs text-appear">Новости</h1>
            <div class="intro_text wysiwyg">
                <p>{{ banner.description|linebreaks }}</p>
            </div>
        </div>
    </div>

    <div class="list mb-xxl">
        <div class="wrapper">
            <ul class="list_ul" data-component="trackable" data-type="magic_hover">
              {% if object_list %}
              {% for object in object_list %}
                <li class="list_li p-s ">
                    <a class="list_link" href="{% url 'news_detail' new_slug=object.new_slug %}"></a>
                    <div class="list_image" data-component="trackable" data-type="is_visible">
                        <img src="{{ object.image1.url }}" alt="" sizes="200px" crossorigin="" />
                    </div>
                    <dl class="list_conference">
                        <dt class="list_conference_hour"><span>{{ object.posted }}</span></dt>
                        <dd class="list_conference_text">
                            <p class="name">{{ object.title }}</p>
                            <p>{{ object.description }}</p>
                        </dd>
                    </dl>
                </li>
              {% endfor %}
              {% else %}
              <p class="name">Новостей пока нет...</p>
              {% endif %}
            </ul>
        </div>
    </div>

    <div class="mb-onlyxl"></div>

    <div class="footer-glitch-container">
        <div class="glitch-bg" data-component="trackable" data-type="glitch" data-parallax="-2" data-parallaxmid="true" data-nofadebottom="true">
            <img src="/static/images/bg_footer.jpg" alt="Glitch noise" width="2048" height="1024">
        </div>
    </div>
    <footer class="footer pb-m pt-xxl" data-component="trackable" data-type="footer">
        <div class="wrapper">
            <div class="footer_similar mb-xl" data-component="showtext">
                <div class="mb-s">
                    <p class="label text-appear"><span class="line"><span>You may be interested in</span></span></p>
                </div>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                        <span>Conferences</span>
                    </span>
                </a>
                <a class="footer_similar_link h2 text-appear" href="">
                    <span class="line">
                        <span>Ideation camp</span>
                    </span>
                </a>
            </div>
            {% include 'footer.html' %}
        </div>
    </footer>
</div>

{% endblock %}
